.banner-premium{
    background-position: right top, center -25%;
    background-image: url('../../../assets/img/premium-banner.png');
    background-size: min(60%, 800px), 100% 40%;
    background-repeat: no-repeat;
}
